<!doctype html>
<html lang="en">
<head th:replace="/fragment/head"></head>
<body>
	<nav th:replace="/fragment/nav :: nav-front"></nav>
	<!-- /container -->
<div style="background-color:#e0dcdb;padding-bottom:5px;">
	<div class="container">
		<div class="row">
		    <div class="col-12 mt-3" th:fragment="categories">
			    <div class="category-highlight">
			        <h4>Danh mục nổi bật</h4>
			        <ul class="list-group horizontal-list">
			            <li class="list-group-item wider-item">
			                <a href="/category/all/0">Tất cả sản phẩm</a>
			            </li>
			            <li class="list-group-item wider-item" th:each="category: ${ccategories}">
			                <a class="nav-link" th:href="@{'/category/'+${category.slug}}+'/0'" th:text="${category.name}"></a>
			            </li>
			        </ul>
			    </div>
			</div>
		</div>	
		<h3 style="background-color:white;
			color:black;padding:13px 20px 13px;
			margin:10px 0px 10px 0px;border-radius:10px"
			th:text="${categoryName} ?: 'Tất cả sản phẩm'"
			>
		</h3>		
			<div class="col-12">
				<div class="row" th:if="${!products.empty}">
					<div class="col hover-effect" style="padding:30px 10px 10px 14px;background-color:white;border:1px solid #f1f1f1;" th:each="product : ${products}">
							<img class="mb-3 w-100" th:src="@{'/media/'+${product.image}}" alt="Product Image">
							<span th:text="${product.name}"></span>
							<div class="mt-2 mb-2">
								<span style="padding:2px 5px 3px 5px;background-color:#efeded">6.6</span>
								<span style="background-color:#efeded;padding:2px 10px 3px 10px">Full HD+</span>
							</div>
							<span th:text="${product.price}+'đ'" class="text-danger" style="font-size:15px"><span style="font-size:13px">₫</span></span>
							<div class="mt-1">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
							<div style="position: relative" class="mt-2">
								<p>
									<a class="btn btn-primary addToCart"
										th:attr="data-id=${product.id}"
										th:href="@{'/cart/add/'+${product.id}}">Add to cart</a>
								</p>
								<div class="btn btn-sm btn-success hide productAdded">Thêm sản phẩm thành công!</div>
							</div>
					</div>
				</div>
				<!-- For paging -->
				<nav aria-label="Page navigation example" class="mt-2" style="margin-left:450px">
					<ul class="pagination">
						<li th:if="${page != 0}" class="page-item"><a
							th:href="@{'/category/'+${slug}+'/'+${page-1}}" class="page-link"
							href="#">Previous</a></li>
						<li th:classappend="${page==i-1?'active':''}"
							th:each="i : ${#numbers.sequence(1, pageCount)}"
							class="page-item"><a
							th:href="@{'/category/'+${slug}+'/'+${i-1}}" class="page-link"
							href="#"><span th:text="${i}"></span></a></li>
						<li th:if="${page+1 != pageCount}" class="page-item"><a
							th:href="@{'/category/'+${slug}+'/'+${page+1}}" class="page-link"
							href="#">Next</a></li>
					</ul>
				</nav>
				<div th:unless="${!products.empty}">
					<h4 class="display-4">There are no products at this moment</h4>
				</div>
			</div>
			
	</div>
</div>
	<!-- <div th:replace="/fragment/cart_partial"></div> -->	
	</div>
	<footer th:replace="/fragment/footer"></footer>

	<script>
		$("a.addToCart").click(function(e){
			e.preventDefault();
			let $this = $(this);
			$this.next().removeClass('d-none');
			let id = $this.attr("data-id");
			let url = "/cart/add/"+id;
			
			$.get(url, {}, function(data){
				$('div.cart').html(data);
			}).done(function(){
				$this.parent().parent().find('div.productAdded').fadeIn();
				$this.next().addClass('d-none');
				setTimeout(()=>{
					$this.parent().parent().find('div.productAdded').fadeOut();
				}, 1000);
			});
		});
	</script>
</body>
</html>
