<!doctype html>
<html lang="en">
	<head th:replace="/fragment/head"></head>
<body>
	<nav th:replace="/fragment/nav :: nav-admin"></nav>
	<!-- /container -->
	<div class="container">
		<h1 class="text-center text-uppercase mt-3">Danh sách người dùng</h1>
		<a href="/admin/users/add" class="btn btn-primary mb-3 mt-2">Thêm mới</a>
		
		<div th:if="${message}" th:text="${message}" th:class="${'alert '+alertClass}"></div>
		
		<div th:if="${!users.empty}">
			<table class="table table-hover table-striped" id="user">
				<tr class="home">	
					<th>ID</th>
					<th>User name</th>
					<th>Password</th>
					<th>name</th>
					<th>email</th>
					<th>gender</th>
					<th>phone</th>
					
					<th>Sửa</th>
					<th>Xóa</th>
				</tr>
				<tr th:each="user : ${users}" th:id="'id_'+${user.id}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.password}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.gender}"></td>
					<td th:text="${user.phone}"></td>
					
					
					<td><a class="btn btn-info" th:href="@{'/admin/users/edit/'+${user.id}}">Sửa</a></td>
					<td><a th:href="@{/admin/users/delete/{id}(id=${user.id})}" class="btn btn-danger confirmDeletion">Xóa</a></td>
				</tr>
			</table>
		</div>
		
		<div th:unless="${!users.empty}">
			<h4 class="display-4">There are no categories at this moment</h4>
		</div>
	</div>
	
	<script>
		$("table#user tbody").sortable({
			items: "tr:not(.home)",
			placeholder: "ui-state-highlight",
			update: function(){
				let ids = $("table#user tbody").sortable("serialize");
				let url = "/admin/user/reorder";
				$.post(url, ids, function(data){
					console.log(data);
				});
			}
		});
	</script>
</body>
</html>
