body
{
	/* background: red !important; */
}
span.error 
{
	color: red !important;
}
table.sorting tr:not(.home)
{
	cursor: pointer;
}
.ui-state-highlight
{
	border: 1px dashed #ccc;
}
.ck.ck-content
{
	height: 200px;
}
div.productAdded
{
	position: absolute;
	bottom: 5px;
	left: 110px;
}

.hide
{
	display: none;
}
div.overlay 
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
}
div.overlay > img 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
form#paypalform 
{
    position: absolute;
    left: -3000px;
}
.navbar-front 
{
	background-color:white;
}
.navbar-front .navbar-brand 
{
	color:black;
	margin-left:60px;
	text-transform: uppercase;
}
.navbar-front .navbar-nav .nav-link 
{
	color:black;
	text-transform: uppercase;
}
.navbar-front .navbar-nav .nav-link:hover,
.navbar-front .navbar-nav .nav-link:focus 
{
	color: #e0dcdb;
}
.navbar-admin 
{
	background-color:black;
}
.navbar-admin .navbar-brand 
{
	color: white;
	margin-left:50px;
	text-transform: uppercase;
}
.navbar-admin .navbar-nav .nav-link 
{
	color: white;
}
.navbar-admin .navbar-nav .nav-link:hover,
.navbar-admin .navbar-nav .nav-link:focus 
{
	color: #e9ecef;
}
#cart 
{
	width: 33px;
    height: 33px;
    margin-right:30px;
}
/* category */
.horizontal-list 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}
.horizontal-list li 
{
    margin-right: 10px; /* Khoảng cách giữa các mục danh sách */
}

.horizontal-list li:last-child 
{
    margin-right: 0; /* Loại bỏ khoảng cách phải của mục cuối cùng */
}
.horizontal-list li a 
{
    text-decoration: none;
    color: inherit;
}
.wider-item 
{
    width: 600px; /* Thay đổi kích thước theo ý muốn của bạn */
}

/*-----------------*/
/* footer */
footer 
{		
	margin-top:20px;
	background-color: white;
	color: black;
	text-align: center;
	padding: 10px;
}
/*-----------------*/	
.category-highlight 
{
    background-color: #fff;
    border-radius: 10px;
    padding:20px 0px 20px 20px;
}

.category-highlight h4 
{
    margin-bottom: 10px;
}
.category-list 
{
	display: flex;
    flex-direction: column;
}

.category-list a
{
	text-decoration:none;
}
.category-item 
{
    display: inline-block;
    margin-right: 10px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

.category-name 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* product */
.category-highlight 
{    
    border-radius: 10px;
    padding: 20px;
}

.category-highlight h4 
{
    margin-bottom: 10px;
}

.category-highlight ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.category-highlight li 
{
    display: inline-block;
    margin-right: 10px;
}

.category-highlight li:last-child 
{
    margin-right: 0;
}

.category-highlight li a 
{
    display: block;
    padding: 0px;
    border-radius: 38px;
    text-decoration: none;
}

.category-highlight li a:hover 
{
    
}

/* Trang home product */
.col.hover-effect:hover
{
	background-color: #f8f8f8;
    border-color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng box-shadow */
}
.col.hover-effect:hover 
{
    /* Áp dụng hiệu ứng khi hover vào phần tử có cả class "col" và "hover-effect" */
    background-color: #f8f8f8;
    border-color: #ddd;
}
.col.hover-effect:hover img 
{
    /* Hiệu ứng nhảy lên 5px cho ảnh khi hover */
    transform: translateY(-5px);
}
.checked
{
  color: orange;
}