<div class="col-12 mt-3" th:fragment="categories">
    <div class="category-highlight">
        <h4>Danh mục nổi bật</h4>
        <div class="category-list">
           	<a class="category-item" href="/category/all/0">Tất cả sản phẩm</a>
            <a class="category-item" th:each="category: ${ccategories}" th:href="@{'/category/'+${category.slug}}+'/0'" th:text="${category.name}">
                <i class="fa-regular fa-mobile"></i>
                <span class="category-name"></span>
            </a>
        </div>
    </div>
</div>






